<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIJjQip2QXFLf6evVZiVnlxp-wMlllwFM</string>
	<key>GCM_SENDER_ID</key>
	<string>1042293949658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alpha</string>
	<key>PROJECT_ID</key>
	<string>miningassociation-8942c</string>
	<key>STORAGE_BUCKET</key>
	<string>miningassociation-8942c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042293949658:ios:b6aff5c2feb80a014891e3</string>
	<key>DATABASE_URL</key>
	<string>https://miningassociation-8942c.firebaseio.com</string>
</dict>
</plist>